<page>
    <div *ngIf="isLoaded" class="row overflow-hidden">
        <div class="col-6 border-right border-secondary pr-0">
            <div *ngIf="grindingRes.length > 0 && !isAddingEntry">
                <div class="d-flex align-items-center justify-content-between p-2">
                    <div class="d-flex">
                        <div class="search-bar p-d-flex mr-2">
                            <span class="p-input-icon-right">      
                                <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains')" placeholder="Search"/>
                                <i class="pi pi-search mr-2"></i>
                            </span>
                        </div>
                        <p-multiSelect 
                            class="mr-2" 
                            [options]="displayableHeaders" 
                            [(ngModel)]="filteredColumns" 
                            optionLabel="header"
                            placeholder="Select Columns"
                            [maxSelectedLabels]="maxSelectedLabelsNum"
                            selectedItemsLabel="Select Columns"
                            (onChange)="onVisibleColumnChange($event)">
                        </p-multiSelect>
                    </div>
                    <div class="d-flex align-items-center justify-content-end primary-pi-group">
                        <button pButton icon="pi pi-plus" type="button" iconPos="left" class="btn btn-primary btn-no-bg mr-2" title="Add Entry" (click)="addEntryChecks()"></button>
                        <button pButton icon="pi pi-trash" type="button" iconPos="left" class="btn btn-primary btn-no-bg" title="Remove Entry"></button>
                    </div>
                </div>          
                <div class="table-container">
                    <p-table 
                        #table
                        [value]="grindingRes"
                        rowGroupMode="subheader"
                        selectionMode="single"
                        (onRowSelect)="onRowSelect($event)"
                        [reorderableColumns]="true"
                        [columns]="filteredColumns"
                        (onFilter)="onFilter($event)"
                        [scrollable]="true"
                        scrollHeight="flex"
                        styleClass="h-100"
                        (sortFunction)="customSort()" 
                        [customSort]="true">
                        <ng-template pTemplate="header">
                            <tr>
                                <th pReorderableColumn *ngFor="let col of filteredColumns;">
                                    {{ col.header }}
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
                            <tr class="table-group-subheading" *ngIf="rowGroupMetadata[item.dateCreated].index === rowIndex">
                                <td [colSpan]="filteredColumns.length"><h3 class="mb-0">{{ item[combatPageData.tableHeaders[0].field] | dateLong }}</h3></td>
                            </tr>                     
                            <tr [pSelectableRow]="item">
                                <td *ngFor="let col of filteredColumns;">{{ item[col.field] }}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>              
            </div> 
            <div *ngIf="grindingRes.length == 0 && !isAddingEntry">
                <div>
                    <h2>Grinding</h2>
                    <div class="d-flex align-items-center justify-content-center" style="height: 60vh;">
                        <div class="d-flex flex-column">
                            <label class="d-flex align-items-center justify-content-center">No data available.</label>
                            <label class="d-flex align-items-center justify-content-center mt-2">Start by selecting what data you wish to track</label>
                            <label class="d-flex align-items-center justify-content-center">followed by a new entry.</label>
                            <div class="d-flex align-items-center justify-content-center mt-4">
                                <button class="btn btn-primary mr-2" (click)="addEntryChecks()">Begin</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
            <div *ngIf="isAddingEntry">
                <div>
                    <table-insert 
                        *ngIf="globals.isSignedIn"
                        [combatHeaders]="displayableHeaders"
                        [tableLength]="grindingRes.length"
                        (updateCombatRes)="emittedInsertEntry($event)"
                        (cancelInsert)="emittedInsertCancel($event)">
                    </table-insert>
                </div>
            </div>      
        </div>
        <div class="col-6 pl-0">
            <p-tabView (onChange)="handleChange($event)">
                <p-tabPanel *ngFor="let item of tabPanels; let i = index" [header]="item.header" [selected]="i == activeTabIndex">
                    <ng-template *ngIf="i == 0" pTemplate="content" class="tab-container">
                        <graphs></graphs>
                    </ng-template> 
                    <ng-template *ngIf="i == 1" pTemplate="content" class="tab-container">
                        <loot></loot>
                    </ng-template> 
                    <ng-template *ngIf="i == 2" pTemplate="content" class="tab-container">
                        <buffs></buffs>
                    </ng-template> 
                    <ng-template *ngIf="i == 3" pTemplate="content" class="tab-container">
                        <stats #stats></stats>
                    </ng-template> 
                </p-tabPanel>
            </p-tabView>
        </div>      
    </div>
</page>
