/*
# Sizes
# Colours
# Nav Themes
    ## Standard
        ### Body & Nav
        ### Border
        ### Btn Primary
        ### Table
    ## Dark
        ### Body & Nav
        ### Border
        ### Btn Primary
        ### Table
*/

// # Sizes
$side-nav-w: 15.2rem;
$header-h: 6.5rem;
$heading-h: 3.4rem;
$body-h: calc(100% - 3.4rem);
$border-radius-default: 0.125rem;
$border-radius-large: 0.25rem;
$border-radius-rounded: 0.5rem;
$transition-250: 250ms;
$transition-150: 150ms;
$hover-lighten: 20;

// # Colours
$bdo-green-1: #037455;
$bdo-green-2: #009775;
$bdo-green-3: #77A78C;
$bdo-green-4: #DFEEE8;
$bdo-grey-1: #333333;
$bdo-grey-2: #595959;
$bdo-grey-3: #808080;
$bdo-grey-4: #a6a6a6;
$bdo-grey-5: #cccccc;
$bdo-grey-6: #e6e6e6;
$bdo-orange-1: #cc6600;
$bdo-orange-2: #ff8000;
$bdo-orange-3: #ff9933;
$bdo-orange-4: #ffb366;
$bdo-orange-5: #ffcc99;
$bdo-orange-6: #ffe6cc;
$bdo-blue-1: #0073e6;
$bdo-blue-2: #1a8cff;
$bdo-blue-3: #3399ff;
$bdo-blue-4: #66b3ff;
$bdo-blue-5: #99ccff;
$bdo-blue-6: #cce6ff;
$bdo-blue-7: #e6f2ff;
$bdo-orange-1: #b32d00;
$bdo-orange-2: #ff8000;
$bdo-orange-3: #ff9933;
$bdo-orange-4: #ffb366;
$bdo-orange-5: #ffcc99;
$bdo-orange-6: #ffe6cc;

// # Colour Schemes
// ## Standard
$standard-primary: $bdo-grey-6;
$standard-secondary: $bdo-blue-1;
$standard-tertiary: $bdo-grey-3;
$standard-primary-text: $bdo-grey-1;
$standard-secondary-text: $bdo-grey-6;
$standard-tertiary-text: $bdo-grey-6;

// ## Dark
$dark-primary: $bdo-grey-2;
$dark-secondary: $bdo-grey-1;
$dark-tertiary: $bdo-grey-5;
$dark-primary-text: $bdo-grey-6;
$dark-secondary-text: $bdo-grey-6;
$dark-tertiary-text: $bdo-grey-3;

// // Icons (Temp)
$icon: $bdo-grey-1;
$icon-grey: $bdo-grey-3;
$icon-white: $bdo-grey-6;
$icon-green: $bdo-green-1;