<page>
    <page-header></page-header>
    <div *ngIf="isLoaded" class="split-page">
        <div class="half-page">
            <div *ngIf="grindingRes.length > 0">
                <div class="d-flex align-items-center justify-content-between mb-2">
                    <!-- <h2 class="mb-0">Grinding</h2> -->
                    <div class="d-flex">
                        <!-- [selectionLimit]="5" (Removes select all option)-->
                        <div class="search-bar p-d-flex mr-2">
                            <span class="p-input-icon-right">      
                                <input pInputText type="text" (input)="table.filterGlobal($event.target.value, 'contains')" placeholder="Search"/>
                                <i class="pi pi-search mr-2"></i>
                            </span>
                        </div>

                        <p-multiSelect 
                            class="mr-2" 
                            [options]="columnHeaders" 
                            [(ngModel)]="filteredColumns" 
                            optionLabel="header"
                            placeholder="Select Columns"
                            maxSelectedLabels="0"
                            selectedItemsLabel="Select Columns">
                        </p-multiSelect>

                        <!-- <button class="btn btn-primary mr-2">Edit</button> -->
                        <button class="btn btn-primary mr-2">Add</button>
                        <!-- <button class="btn btn-primary mr-2">Remove</button> -->
                        <!-- <button class="btn btn-primary mr-2">Save</button> -->
                    </div>
                </div>
                
                <!-- Table -->
                <div class="table-container">
                    <p-table 
                        #table
                        [value]="grindingRes"
                        rowGroupMode="subheader"
                        selectionMode="single"
                        (onRowSelect)="onRowSelect($event)"
                        [(selection)]="selectedRow"
                        [reorderableColumns]="true"
                        [columns]="filteredColumns"
                        (onFilter)="onFilter($event)"
                        [scrollable]="true"
                        scrollHeight="flex"
                        styleClass="h-100">

                        <!-- Header -->
                        <ng-template pTemplate="header">
                            <tr>
                                <th pReorderableColumn *ngFor="let col of filteredColumns;">
                                    {{ col.header }}
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
                            <!-- Subheader Group -->
                            <tr class="table-group-subheading" *ngIf="rowGroupMetadata[item.date].index === rowIndex">
                                <td [colSpan]="filteredColumns.length"><h3 class="mb-0">{{ item[columnHeaders[0].field] | dateLong }}</h3></td>
                            </tr>
                            
                            <!-- Main Data -->
                            <tr [pSelectableRow]="item">
                                <td *ngFor="let col of filteredColumns;">{{ item[col.field] }}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
                
            </div> 
            <!-- Empty Datasource -->
            <div *ngIf="grindingRes.length == 0">
                <div>
                    <h2>Grinding</h2>
                    <!-- <div class="mt-4">
                        <label class="mt-2 mr-5">No data available.</label>
                        <button class="btn btn-primary mr-2">Begin</button>
                    </div> -->
                    <div class="d-flex align-items-center justify-content-center" style="height: 60vh;">
                        <div class="d-flex flex-column">
                            <label class="d-flex align-items-center justify-content-center">No data available.</label>
                            <label class="d-flex align-items-center justify-content-center mt-2">Start by selecting what data you wish to track</label>
                            <label class="d-flex align-items-center justify-content-center">followed by a new entry.</label>
                            <div class="d-flex align-items-center justify-content-center mt-4">
                                <button class="btn btn-primary mr-2" (click)="showAddEntryPopup = true;">Begin</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>        
        </div>
        <div class="half-page p-0">
            <p-tabView>
                <p-tabPanel header="Graphs">
                    <div class="tab-container">
                        <graphs></graphs>
                    </div> 
                </p-tabPanel>
                <p-tabPanel header="Loot">
                    <div class="tab-container">
                        <loot></loot>
                    </div>
                </p-tabPanel>
                <p-tabPanel header="Buffs">
                    <div class="tab-container">
                        <buffs></buffs>
                    </div>
                </p-tabPanel>
                <p-tabPanel header="Totals">
                    <div class="tab-container">
                        <totals></totals>
                    </div>
                </p-tabPanel>
            </p-tabView>
        </div>      
    </div>
</page>


<p-dialog 
    header="{{entryPopupTitle}}" 
    [(visible)]="showAddEntryPopup"
    [style]="{width: '50vw'}"
    styleClass="popupDialog"
    modal="true"
    closeOnEscape="true"
    dismissableMask="true">

    <div>
        <!-- Choose Columns -->
        <div class="row" *ngIf="grindingRes.length == 0 && showAddEntry == false;">
            <div class="col-md-4 col-sm-6 col" *ngFor="let col of columnHeaders; let i = index">
                <div class="mb-2">
                    <div class="d-flex align-items-center">
                        <label>{{col.header}}</label>
                        <label class="ml-2" *ngIf="col.headingId == 3">(Hours, Minutes...)</label>
                    </div>
                    <div>
                        <!-- <p-selectButton [options]="stateOptions" [(ngModel)]="col.isActive" optionLabel="label" optionValue="value"></p-selectButton> -->
                        <p-inputSwitch [(ngModel)]="col.isActive"></p-inputSwitch>
                    </div>
                </div>
            </div>
        </div>
        <!-- Add Entry -->
        <div *ngIf="showAddEntry">
            
        </div>
        <div class="d-flex align-items-center justify-content-end">
            <button *ngIf="grindingRes.length == 0 && showAddEntry == false;" class="btn btn-primary" (click)="saveDefaultColumns();">Continue</button>
            <button *ngIf="showAddEntry" class="btn btn-primary">Add</button>
            <button class="btn btn-primary ml-2" (click)="showAddEntryPopup = false;">Close</button>
        </div>
    </div>
</p-dialog>
