<div class="table-insert" *ngIf="isLoaded">
    <div *ngIf="combatHeaders.length > 0" class="p-4">
        <div class="text-center">
            <h2>New Data Entry</h2>
        </div>
        <div class="row align-items-center mt-4">
            <div class="col-4">
                <label>Location</label>
                <p-dropdown class="w-100" [filter]="true" filterBy="locationName" class="w-100" [options]="combatEnums.locationNamesEnum" [(ngModel)]="newEntry.grindLocation" optionLabel="locationName" [group]="true">
                    <ng-template let-group pTemplate="group">
                        <div class="p-d-flex p-ai-center">
                            <span>{{group.label}}</span>
                        </div>
                    </ng-template>
                </p-dropdown>
            </div>
            <div class="col-4">
                <label>Time Grinded (Minutes)</label>
                <p-dropdown class="w-100" [options]="combatEnums.timeAmountEnum" [(ngModel)]="newEntry.timeAmount" optionLabel="timeAmount"></p-dropdown>
            </div>
            <div class="col-4">
                <label>Primary Trash Loot Dropped</label>
                <p-inputNumber class="w-100" [(ngModel)]="newEntry.trashLootAmount" [min]="0"></p-inputNumber>
            </div>
        </div>
        <div class="row align-items-center mt-3">
            <div class="col-4">
                <label>Character</label>
                <p-dropdown #userClassDropdown (onChange)="currentClassChanged($event);" [options]="combatEnums.activeClasses" [(ngModel)]="newEntry.userClass" optionLabel="classDescription"></p-dropdown>
            </div>
            <div class="col-4">
                <label>Server</label>
                <p-dropdown [options]="combatEnums.serverNamesEnum" [(ngModel)]="newEntry.server" optionLabel="serverDescription"></p-dropdown>
            </div>
            <div class="col-4">
                <label>Combat Type</label>
                <p-dropdown (onChange)="combatTypeChanged($event);" [options]="combatEnums.combatTypesEnum" [(ngModel)]="newEntry.combatType" optionLabel="combatTypeName"></p-dropdown>
            </div>
        </div>
        <div class="row align-items-center mt-3">
            <div class="col-4">
                <label>Agris Burnt</label>
                <p-dropdown [disabled]="!agrisIsReady" [options]="combatEnums.agrisEnum" [(ngModel)]="newEntry.agris" optionLabel="agrisDescription"></p-dropdown>
            </div>
            <div class="col-4">
                <label>Afuaru Spawns</label>
                <p-inputNumber [disabled]="!newEntry.grindLocation.afuaruSpawnable" [(ngModel)]="newEntry.afuaruSpawns" [min]="0"></p-inputNumber>
            </div>
            <div class="col-4">
                <div class="d-flex justify-content-center align-items-center">
                    <button class="btn btn-primary mr-2" (click)="createEntry()">Create Entry</button>
                    <button class="btn btn-secondary" (click)="cancelInsert.emit(combatHeaders);">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
