<div class="page-tab">
    <div class="page-tab-content">
        <div class="d-flex align-items-center">
            <div class="fixed-tile">
                <div class="fixed-tile-header">
                    <h3>Day</h3>
                </div>
                <div class="fixed-tile-content">
                    <div class="mt-3">
                        <label>Hours:</label>
                        <label>2</label>
                    </div>
                    <div class="mt-3">
                        <div class="p-float-label">
                            <p-dropdown inputId="dropdown" styleClass="p-dropdown-icon-custom">
                                <!-- <ng-template pTemplate="selectedItem">
                                    <div>
                                        <div>location name</div> -->
                                        <!-- <div>{{globals.config.theme.themeName}}</div> -->
                                    <!-- </div>
                                </ng-template> -->
                                <ng-template let-item pTemplate="item">
                                    <div>
                                        <!-- <div>{{item.themeName}}</div> -->
                                        <div>location</div>
                                    </div>
                                </ng-template>
                            </p-dropdown>
                            <label for="dropdown">Locations</label>
                        </div>
                    </div>
                    <div class="mt-3">
                        <label>Afuaru Spawns:</label>
                        <div>
                            <label>2</label>
                        </div>  
                    </div>
                </div>
            </div> 
            <div class="fixed-tile">
                <div class="fixed-tile-header">
                    <h3>Week</h3>
                </div>
                <div class="fixed-tile-content">
                    <div class="mt-3">
                        <label>Hours:</label>
                        <label>2</label>
                    </div>
                    <div class="mt-3">
                        <div class="p-float-label">
                            <p-dropdown inputId="dropdown" styleClass="p-dropdown-icon-custom">
                                <!-- <ng-template pTemplate="selectedItem">
                                    <div>
                                        <div>location name</div> -->
                                        <!-- <div>{{globals.config.theme.themeName}}</div> -->
                                    <!-- </div>
                                </ng-template> -->
                                <ng-template let-item pTemplate="item">
                                    <div>
                                        <!-- <div>{{item.themeName}}</div> -->
                                        <div>location</div>
                                    </div>
                                </ng-template>
                            </p-dropdown>
                            <label for="dropdown">Locations</label>
                        </div>
                    </div>
                    <div class="mt-3">
                        <label>Afuaru Spawns:</label>
                        <div>
                            <label>2</label>
                        </div>  
                    </div>
                </div>
            </div> 
            <div class="fixed-tile">
                <div class="fixed-tile-header">
                    <h3>Month</h3>
                </div>
                <div class="fixed-tile-content">
                    <div class="mt-3">
                        <label>Hours:</label>
                        <label>2</label>
                    </div>
                    <div class="mt-3">
                        <div class="p-float-label">
                            <p-dropdown inputId="dropdown" styleClass="p-dropdown-icon-custom">
                                <!-- <ng-template pTemplate="selectedItem">
                                    <div>
                                        <div>location name</div> -->
                                        <!-- <div>{{globals.config.theme.themeName}}</div> -->
                                    <!-- </div>
                                </ng-template> -->
                                <ng-template let-item pTemplate="item">
                                    <div>
                                        <!-- <div>{{item.themeName}}</div> -->
                                        <div>location</div>
                                    </div>
                                </ng-template>
                            </p-dropdown>
                            <label for="dropdown">Locations</label>
                        </div>
                    </div>
                    <div class="mt-3">
                        <label>Afuaru Spawns:</label>
                        <div>
                            <label>2</label>
                        </div>  
                    </div>
                </div>
            </div>  
            <div class="fixed-tile">
                <div class="fixed-tile-header">
                    <h3>Year</h3>
                </div>
                <div class="fixed-tile-content">
                    <div class="mt-3">
                        <label>Hours:</label>
                        <label>2</label>
                    </div>
                    <div class="mt-3">
                        <div class="p-float-label">
                            <p-dropdown inputId="dropdown" styleClass="p-dropdown-icon-custom">
                                <!-- <ng-template pTemplate="selectedItem">
                                    <div>
                                        <div>location name</div> -->
                                        <!-- <div>{{globals.config.theme.themeName}}</div> -->
                                    <!-- </div>
                                </ng-template> -->
                                <ng-template let-item pTemplate="item">
                                    <div>
                                        <!-- <div>{{item.themeName}}</div> -->
                                        <div>location</div>
                                    </div>
                                </ng-template>
                            </p-dropdown>
                            <label for="dropdown">Locations</label>
                        </div>
                    </div>
                    <div class="mt-3">
                        <label>Afuaru Spawns:</label>
                        <div>
                            <label>2</label>
                        </div>  
                    </div>
                </div>
            </div>
            <div class="fixed-tile">
                <div class="fixed-tile-header">
                    <h3>Total</h3>
                </div>
                <div class="fixed-tile-content">
                    <div class="mt-3">
                        <label>Hours:</label>
                        <label>2</label>
                    </div>
                    <div class="mt-3">
                        <div class="p-float-label">
                            <p-dropdown inputId="dropdown" styleClass="p-dropdown-icon-custom">
                                <!-- <ng-template pTemplate="selectedItem">
                                    <div>
                                        <div>location name</div> -->
                                        <!-- <div>{{globals.config.theme.themeName}}</div> -->
                                    <!-- </div>
                                </ng-template> -->
                                <ng-template let-item pTemplate="item">
                                    <div>
                                        <!-- <div>{{item.themeName}}</div> -->
                                        <div>location</div>
                                    </div>
                                </ng-template>
                            </p-dropdown>
                            <label for="dropdown">Locations</label>
                        </div>
                    </div>
                    <div class="mt-3">
                        <label>Afuaru Spawns:</label>
                        <div>
                            <label>2</label>
                        </div>  
                    </div>
                </div>
            </div>       
        </div>
        <div>
            <h3>Location Name</h3>
            <div>
                <label>Hours: 0</label>
            </div>
            <div>
                <label>Trash loot: 0</label>
            </div>
            <div>
                <label>Afuaru Spawns: 0</label>
            </div>
        </div> 
    </div>
</div>
