<div class="page-tab">
    <div class="page-tab-content">
        <div><!--ngFor-->
            <h3>Location Name</h3>
            <div>
                <label>Hours: 0</label>
            </div>
            <div>
                <label>Trash loot: 0</label>
            </div>
            <div>
                <label>Hours: 0</label>
            </div>
            <div>
                <label>Afuaru Spawns: 0</label>
            </div>
        </div>
        <div><!--ngFor-->
            <h3>Location Name</h3>
            <div>
                <label>Hours: 0</label>
            </div>
            <div>
                <label>Trash loot: 0</label>
            </div>
            <div>
                <label>Hours: 0</label>
            </div>
            <div>
                <label>Afuaru Spawns: 0</label>
            </div>
        </div>
    </div>
</div>
