<page *ngIf="isLoaded">
    <div *ngIf="userClasses.length > 0" class="d-flex align-items-center">
        <div class="col-10">
            <h2 class="p-2">Character Cards</h2>
        </div>
        <div class="d-flex justify-content-end col-2">
            <button class="btn btn-primary" (click)="router.navigate(['user-classes/creation']);">Add Class</button>
        </div>  
    </div>
    <div *ngIf="userClasses.length > 0" class="row userClass-card-container mr-2">
        <div *ngFor="let item of userClasses" class="col-6 pr-0 mb-4 character-card">
            <div class="ml-2 border border-secondary">
                <div class="row ml-0 mr-0 secondary-background">
                    <div class="col-6 pl-0 pr-0 character-card-class-image-alt" [ngStyle]="{ 'background-image': 'url(' + './assets/images/classPortraits/' + item.classNameEnum.fileName + '.PNG' + ')' }"></div>
                    <div class="col-6 pl-0 pr-0">
                        <p-tabView>
                            <p-tabPanel header="Combat">
                                    <div class="d-flex align-items-center">
                                        <div class="col-6">
                                            <label>AP:</label>
                                        </div>
                                        <div class="col-6">
                                            <label>{{item.gear.ap}} ({{item.gear.gearBrackets.apBracketBonus}})</label>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <div class="col-6">
                                            <label>AAP:</label>
                                        </div>
                                        <div class="col-6">
                                            <label>{{item.gear.aap}} ({{item.gear.gearBrackets.aapBracketBonus}})</label>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <div class="col-6">
                                            <label>DP:</label>
                                        </div>
                                        <div class="col-6">
                                            <label>{{item.gear.dp}} ({{item.gear.gearBrackets.dpBracketBonus}})</label>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <div class="col-6">
                                            <label>GearScore:</label>
                                        </div>
                                        <div class="col-6">
                                            <label>{{item.gear.gearScore}}</label>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <div class="col-6">
                                            <label>Next AP Bracket:</label>
                                        </div>
                                        <div class="col-6">
                                            <label>{{item.gear.nextGearBrackets.apBracket}} ({{item.gear.nextGearBrackets.apBracketBonus}})</label>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <div class="col-6">
                                            <label>Next AAP Bracket:</label>
                                        </div>
                                        <div class="col-6">
                                            <label>{{item.gear.nextGearBrackets.aapBracket}} ({{item.gear.nextGearBrackets.aapBracketBonus}})</label>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <div class="col-6">
                                            <label>Next DP Bracket:</label>
                                        </div>
                                        <div class="col-6">
                                            <label>{{item.gear.nextGearBrackets.dpBracket}} ({{item.gear.nextGearBrackets.dpBracketBonus}})</label>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <div class="col-6">
                                            <label>Hours:</label>
                                        </div>
                                        <div class="col-6">
                                            <label>0</label>
                                        </div>
                                    </div>
                            </p-tabPanel>
                            <p-tabPanel header="Life">
                                <div class="tab-container">
                                    <div>
                                        
                                    </div>
                                </div>
                            </p-tabPanel>
                        </p-tabView>
                    </div>
                </div>
                <div class="row ml-0 mr-0 pt-2 pb-1 character-card-background"> 
                    <div class="col-9">
                        <div>
                            <label>{{item.classNameEnum.className}}: {{item.combatTypeEnum.combatTypeName}}</label>
                        </div>
                        <div>
                            <label>Primary Role: {{item.classRoleEnum.classRole}}</label>
                        </div>
                    </div>
                    <div class="col-3">
                        <button class="btn btn-primary" (click)="navToEdit(item);">Edit Character</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="userClasses.length == 0">
        <div>
            <div class="d-flex align-items-center justify-content-center" style="height: 60vh;">
                <div class="d-flex flex-column">
                    <h2>Characters Classes</h2>
                    <label class="d-flex align-items-center justify-content-center">No characters available.</label>
                    <label class="d-flex align-items-center justify-content-center mt-2">Start by selecting a new class</label>
                    <label class="d-flex align-items-center justify-content-center">along with that characters gear</label>
                    <div class="d-flex align-items-center justify-content-center mt-4">
                        <button class="btn btn-primary mr-2" (click)="router.navigate(['user-classes/creation']);">Begin</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</page>
